* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Montserrat;
    src: url(./font/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(./font/montserrat/Montserrat-Bold.ttf);
}

.container {
    margin: 0 auto;
    width: 100%;
}

.mainHeader {
    background-color: #21243d;
}

/* START */
.mobileheader {
    background-color: #21243d;
}

i.fa-solid.fa-bars {
    color: #fff;
}

.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-mobile ul {
    display: none;
}

.navbar-mobile ul li {
    list-style: none;
    /* color: #000; */
    list-style: none;
    font-size: 16px;
    color: #fff;
    padding-bottom: 6px;
    padding-left: 6px;
    background-color: #21243d;
}

.navbar-mobile ul li:hover {
    background-color: #c2bdbd;

}

form {
    background-color: #21243d;
    padding: 0px 5px;
}

.searchmobile {
    /* padding-bottom: 8px; */
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 9px;
}

.navbar-mobile ul a {
    text-decoration: none;
}

/* END */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    padding: 0 40px;
    font-weight: 600;
}

.header ul li:last-child {
    margin-right: 35px;
}

.header ul li {
    list-style: none;
}

.search img {
    max-width: 80%;
}

.bannerText {
    padding: 20px 0 30px;
    text-align: center;
}

.bannerText h3 {
    font-family: Montserrat-bold;
    font-size: 32px;
}

.bannerText p {
    /* font-weight: bolder; */
    font-family: Montserrat;
    margin: 10px 0 25px 0;
    font-weight: bold;
}

/* BANNER */
.bannerimage {
    display: flex;
}

.bannerimage img {
    width: 100%;
    height: auto;
}

.bannersection {
    position: relative;
    background: #935e39;
}

.bannerText a {
    text-transform: uppercase;
    border-radius: 50px;
    padding: 12px 41px;
    background-color: #21243d;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: Montserrat-bold;
}

.popular_menu {
    background-color: #21243d;
    padding: 20px 0px;
    text-align: center;
}

.popular_menu .popmenutop h3 {
    font-size: 30px;
    font-family: Montserrat-bold;
    color: #fff;
    padding-bottom: 12px;
}

.popular_menu .popmenutop p {
    font-size: 17px;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
}

.popmenu img {
    padding: 28px 0 0 0;
}

.popmenu h3 {
    color: #fff;
    font-size: 24px;
    font-family: Montserrat-bold;
}

.popmenu p {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
    font-family: Montserrat;
}


/* FOOTER */
.footermain {
    background-color: #000;
}

.footerleft ul li {
    text-decoration: none;
    list-style: none;
}

.footerleft ul {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding-bottom: 10px;
}

.footerleft p:nth-child(1) {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
}

.footerleft p:nth-child(2) {
    color: #fff;
    padding: 20px 0 20px 0;
    font-size: 14px;
    font-family: Montserrat;
}

.footerright {
    padding-bottom: 10px;
    text-align: center;
}
.footerleft{
    text-align: center;
}
img {
    width: 80%;
}


.footerright ul li {
    text-decoration: none;
    list-style: none;
}

.footerright p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat;
    padding: 0 0 4px 0;
    border-bottom: 1px solid yellow;
    display: inline-block;
}

.footerright ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 2em;
    font-family: Montserrat;
}

.footerright ul li a:hover {
    color: yellow;
}

@media screen and (min-width: 320px) {
    .container {
        padding: 0 20px;
    }

    .mainHeader {
        display: none;
    }

    .footerleft p:nth-child(1) {
        text-align: center;
        padding-top: 25px;
        font-size: 28px;
    }
}

@media screen and (min-width: 375px) {

    .navbar-mobile ul li {
        font-size: 20px;
    }

    .bannerText {
        padding: 30px 0 30px;
    }

    .bannerText a {
        padding: 15px 37px;
    }

    .popmenu h3 {
        font-size: 30px;
    }

    .popmenu p {
        font-size: 19px;
    }

    .footerleft p:nth-child(1) {
        font-size: 31px;
    }

    .footerleft p:nth-child(2) {
        font-size: 17px;
        padding: 28px 0 28px 0;
    }

    .footerleft ul {
        gap: 8px;
    }

    .footerright p {
        font-size: 32px;
    }

    .footerright ul li a {
        font-size: 38px;
    }

    .footerright ul li a {
        font-size: 22px;
    }

    .navbar_main {
        padding: 11px;
    }
}

@media screen and (min-width: 425px) {
    .bannerText p {
        font-size: 21px;
    }

    .popular_menu .popmenutop p {
        font-size: 16spx;
    }

    .bannerText a {
        padding: 10px 36px;
    }

    .footerleft p:nth-child(2) {
        font-size: 20px;
    }

    img {
        width: 84%;
    }

    .bannerText {
        padding: 30px 41px;
    }

    .bannerText p {
        font-size: 20px;
    }

    .popmenu img {
        width: 75%;
    }

    .footerright {
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {


    .fa-bars:before {
        font-size: 26px;
    }

    .navbar-mobile ul li {
        font-size: 24px;
    }

    .bannerText {
        padding: 45px 42px;
    }

    /* .searchmobile {
        padding-bottom: 18px;
    } */

    .bannerText h3 {
        font-size: 50px;
    }

    .bannerText p {
        font-size: 29px;
        padding: 0 0 20px;
    }

    .bannerText a {
        padding: 17px 57px;
    }

    .popular_menu .popmenutop h3 {
        font-size: 41px;
    }

    .popular_menu {
        padding: 56px 0px;
    }

    .popular_menu .popmenutop p {
        font-size: 26px;
    }

    .popmenu img {
        width: 47%;
    }

    .popmenu h3 {
        font-size: 41px;
    }

    .popmenu p {
        font-size: 36px;
    }

    .footerleft p:nth-child(1) {
        font-size: 51px;
    }

    .footerleft p:nth-child(2) {
        font-size: 30px;
    }

    .footerleft ul {
        gap: 31px;
    }

    img {
        width: 100%;
    }

    .footerright p {
        font-size: 43px;
    }

    .footerright ul li a {
        font-size: 29px;
    }

    .popular_menu {
        padding: 43px 0 43px 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 55px;
    }
    .header{
        padding: 10px 0;
    }
    .header ul li a{
        font-size: 19px;
    }

    img {
        width: 100%;
    }

    .mobileheader {
        display: none;
    }

    .mainHeader {
        display: block;
    }

    .bannerText {
        position: absolute;
        top: 30%;
        width: 50%;
        padding: 0px;
        text-align: left;
    }

    .bannerText h3 {
        color: #fff;
        font-size: 85px;
    }

    .bannerText p {
        color: #fff;
        font-size: 21px;
        padding: 39px 0;
        margin: 0px;
        font-weight: bolder;
    }

    .bannerText a {
        font-size: 14px;
        padding: 10px 23px;
    }

    .popular_menu {
        padding: 52px 0;
    }

    .popmenu img {
        width: 75%;
    }

    .popular_menu .popmenutop h3 {
        font-size: 32px;
    }

    .popular_menu .popmenutop p {
        padding: 14px 20px;
        font-size: 19px;
    }

    .popularmenubottom {
        display: flex;
        justify-content: space-evenly;
    }

    .popmenu {
        width: 52%;
    }

    .popmenu h3 {
        font-size: 25px;
    }

    .popmenu p {
        font-size: 17px;
    }

    .footermain {
        padding: 120px 0 120px 0;
        display: flex;
    }

    .footerAll {
        display: flex;
    }

    .footerleft {
        text-align: start;
    }

    .footerleft ul li a img {
        width: 70%;
    }

    .footerleft {
        width: 70%;
    }

    .footerright {
        width: 30%;
    }

    .footerright:nth-child(1) {
        padding-top: 20px;
    }

    .footerright p {
        font-size: 25px;
        padding-bottom: 0px;
    }

    .footerleft p:nth-child(1) {
        text-align: left;
        font-size: 25px;
        padding-top: 0;
    }

    .footerleft p:nth-child(2) {
        width: 85%;
        font-size: 16px;
        line-height: 1.4em;
    }

    .footerleft ul {
        justify-content: initial;
        gap: 10px;
    }

    .footerleft ul li a img {
        width: 89%;
    }

    .footerright ul li a {
        font-size: 17px;
    }

    .footerright ul {
        padding-top: 28px;
    }

    .footerright ul li a {
        line-height: 1.8em
    }
    .header ul li a{
        padding: 0 20px;
    }
}
@media screen and (min-width: 1366px){

    .header ul li a{
        font-size: 21px;
    }
    .bannerText{
        top: 30%;
    }
    .bannerText h3{
        font-size: 116px;
    }

    .bannerText p{
        font-size: 27px;
        padding: 39px 0;
    }
    .bannerText a{
        padding: 13px 32px;
        font-size: 16px;
    }
    .popular_menu .popmenutop h3{
        font-size: 35px;
    }
    .popular_menu .popmenutop p{
        padding: 18px 0 37px 0;
        font-size: 24px;
    }
    .popmenu h3{
        font-size: 32px;
    }
    .popmenu p{
        font-size: 24px;
    }
    .footerleft p:nth-child(1){
        font-size: 32px;
    }
    .footerright p{
        font-size: 32px;
    }
    .footerleft p:nth-child(2){
        font-size: 24px;
    }
    .footerright ul li a{
        font-size: 24px;
    }
    
    .footerright ul {
        padding-bottom: 31px;
    }
    .footerleft ul{
        padding: 10px 0 0 0;
    }

}
@media screen and (min-width: 1440px){ 
    .header ul li a{
        font-size: 22px;
    }
    .bannerText{
        top: 32%;
    }
    .bannerText h3 {
        font-size: 125px;
    }
    .bannerText p {
        font-size: 31px;
    }
    .bannerText a{
        font-size: 18px;
        padding: 17px 38px;
    }
    .popular_menu .popmenutop h3{
        font-size: 41px;
    }
    .popular_menu .popmenutop p {
        font-size: 25px;
    }
    .popmenu h3 {
        font-size: 33px;
        padding: 7px 0 5px 0;
    }
    .popmenu p{
        font-size: 25px;
    }

}
@media screen and (min-width: 1920px){ 

    .header ul li a {
        font-size: 30px;
    }
    .bannerText {
        top: 30%;
    }
    .bannerText h3{
        font-size: 170px;
    }
    .bannerText p{
        font-size: 39px;
        padding: 58px 0 67px 0;
    }
    .bannerText a {
        font-size: 17px;
        padding: 17px 37px;
    
    }
    .popular_menu .popmenutop h3 {
        font-size: 47px;
    
    }
    .popular_menu .popmenutop p {
    font-size: 29px;
    }
    .popmenu h3 {
        font-size: 36px;
    }
    .popmenu p {
        font-size: 31px;
    }
    .footerleft p:nth-child(1) {
        font-size: 35px;
    }
    .footerright p {
        font-size: 35px;
    }
    .footerright ul li a{
        font-size: 27px;
    }
    .footerleft p:nth-child(2){
        font-size: 27px;
    }
    .footerleft ul li a img {
        width: 100%;
    }
    .footerleft ul {
        gap: 22px;
    }
}